body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url('backk.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  img{
      display: block;
      width: 600px;
      margin-left: auto;
      margin-right: auto;
     }
  navbar{
    align-items: flex-start;
  }


  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: center;

  }
  
h1{
  text-align: center;
  justify-content: space-between;

}


button {
  background: linear-gradient(135deg, #ff00d8, #ae00ff);
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  align-items: center;
}

hero{
  text-align: center;
  padding: 3rem 1rem;
  align-items: center;
}
.features {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

p{
  text-align: center;
}

.feature {
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 10px;
  width: 30%;
  text-align: center;
}
}